* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    margin-top: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.search-form {
    display: flex;
    width: 100%;
    max-width: 450px;
    margin: 1rem;
    border: 1px solid gray;
}

.search-form input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.search-form button {
    background-color: black;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.weather-container {
    border: 1px solid black;
    max-width: 80%;
    margin: 2rem auto;
    padding: 1rem 2rem;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0.5rem;
    font-size: 1.3rem;
}

.weather-container .top-bar>div>span {
    display: flex;
    align-items: center;
    gap: 8px;
}

.city-name {
    font-size: 2rem;
    margin: 0;
}

.weather-main{
    display: flex;
    justify-content: center;
    margin: 2.5rem;
}

.temperature-display{
    font-size: 3rem;
}

.details-container{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0rem;
}

.details-container .box{
    width: 25%;
    height: 8rem;
    border: 1px solid gray;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    text-align: center;
    padding: 1.3rem 0.5rem;
}

.details-container .box p:first-child{
    margin-bottom: 1.5rem;
}