@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #c2e9fb 0%, #a1c4fd 100%);
}

.header {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
}

.header h1 {
    color: #ffffff;
    text-shadow: 0 0 3px rgba(30, 144, 255, 0.4);
}

.search-form {
    display: flex;
    width: 100%;
    max-width: 45%;
}

.search-form input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

#search-button {
    background-color: #5151cd;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.unit-button {
    border-radius: 8px;
    height: 40px;
    width: 9rem;
    padding: 0rem 1rem;
    background-color: #5151cd;
    border: none;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
}

.celsius,
.farenheit {
    padding: 0.6rem;
    font-size: 1.1rem;
    color: white;
}

.weather-container,
.weatherForecast-container {
    max-width: 80%;
    margin: 1.3rem auto;
    padding: 1.1rem 2.3rem;
    border-radius: 10px;
    border: 1px solid silver;
}

.weather-container {
    color: #000000;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 2.5rem;
}

.top-bar>div>span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.3rem;
}

#date,
.weather-condition,
#time {
    color: gray;
}

#time {
    white-space: nowrap;
}

.city-name {
    font-size: 2rem;
}

.weather-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-icon {
    height: 10rem;
}

.temperature-display {
    font-size: 3.5rem;
    font-weight: bolder;
    color: #3899e4;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    margin-bottom: 1.3rem;
}

.box {
    width: 15rem;
    height: 9rem;
    border: 1px solid #6b92df;
    background: linear-gradient(135deg, #e0f7ff 0%, #ffffff 100%);
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: start;
    padding: 0.9rem 1.8rem;
}

.box svg {
    width: 40px;
    height: 40px;
    margin-bottom: 0.7rem;
}

.box:nth-child(1) svg {
    width: 45px;
    height: 45px;
    margin-bottom: 0.2rem;
}

.box p:nth-child(2) {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #555;
    letter-spacing: 0.5px;
}

.box p:nth-child(3) {
    font-weight: 600;
    font-size: 1.1rem;
    color: black;
}

.error-message {
    text-align: center;
    font-size: 1.3rem;
    margin: 2rem;
}

.loading {
    display: none;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 4rem;
}

.loading::after {
    content: '';
    display: block;
    margin: 0.8rem auto;
    width: 40px;
    height: 40px;
    border: 5px solid #e4e4e4;
    border-top-color: #416ae5;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.weatherForecast-container {
    background-color: white;
}

.forecast-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    margin: 1.5rem 0rem;
    padding: 1rem 0rem;
    overflow-x: scroll;
}

.forecast-box {
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    background: linear-gradient(135deg, #c2e9fb 0%, #a1c4fd 100%);
    height: 12rem;
    width: 12rem;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    display: none;
}

.forecast-box:hover,
.box:hover {
    transform: translateY(-6px) scale(1.05);
}

.forecast-box img {
    width: 100px;
    height: 90px;
}

.forecast-box p {
    font-size: 1.3rem;
    font-weight: bold;
}

.forecast-box h3 {
    font-weight: 300;
}

.active {
    font-weight: bold;
}

@media (max-width: 750px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.7rem;
    }

    .weather-container,
    .weatherForecast-container {
        max-width: 100%;
        margin: 1.2rem;
        padding: 1.1rem 1.3rem;
        border-radius: 10px;
        border: 1px solid silver;
    }

    .top-bar h2 {
        font-size: 1.8rem;
    }

    .weather-icon {
        height: 7rem;
    }

    .temperature-display {
        font-size: 2.8rem;
    }

    .details-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        overflow-x: scroll;
    }

    .top-bar,
    .error-message,
    .forecast-box p {
        font-size: 1.1rem;
    }

}